.cart-management{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
}
.cart-management img{
    width: 70px;
    margin-right: 10px;
}
